# One remote NPU IP per line, in remote device order 0 through 7.
REPLACE_REMOTE_NPU0_IP
REPLACE_REMOTE_NPU1_IP
REPLACE_REMOTE_NPU2_IP
REPLACE_REMOTE_NPU3_IP
REPLACE_REMOTE_NPU4_IP
REPLACE_REMOTE_NPU5_IP
REPLACE_REMOTE_NPU6_IP
REPLACE_REMOTE_NPU7_IP

